.todo-item-label-menu {
    width: 12vw;
    .todo-item-label-menu-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}