.home {
    text-align: center;

    .header {
        width: 40vw;
        margin: auto;
    }

    .carousel-image-changer {
        width: 20vw;
        margin: auto;
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}