.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    border-radius: 5px;
    padding: 0 3%;
    margin: 3% 0;
    font-weight: 400;
    transition-property: transform, font-weight;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.03);
        font-weight: 600;
    }

    .todo-text {
        flex: 1;
        margin: 2% 0;
        width: 100%;
        text-align: left;
        background-color: transparent;
    }
    .done {
        text-decoration: line-through;
        color: gray;
    }

    .meta-content {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .delete-item-btn {
            font-weight: bold;
            height: 0%;
            border-color: transparent;
            background-color: transparent;
            border: none;
            color: black;
            border-radius: 10px;
            transition-property: transform, border-color, background-color;
            transition-duration: 200ms;
            transition-timing-function: ease-in-out;

            &:hover {
                transform: scale(1.5);
                border-color: rgb(232, 232, 232);
                background-color: rgb(232, 232, 232);
            }
        }

        .labels {
            display: flex;
            flex-direction: row;
            text-align: right;
            padding-right: 0.5vw;
            flex-wrap: wrap;

            .label {
                padding: 0 0.5vw;
                margin: 0 0.2vw;
                border-radius: 10px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}